@font-face {
    font-family: Unibody-reg;
    src: url(/fonts/Unibody8Pro-Regular.otf);
}

body {
    background-color: white;
}

canvas {
    margin-left: auto;
    margin-right: auto;
}

.font-test{
    font-family: Unibody-reg;
    visibility: hidden;
    position: absolute;
}